:root{
  --dark-blue: #272938;
  --light-goldenrod: #fcdc8c;
}

html {
  background-color: pink;
}

.white {
  background-color: white;
}

input {
  border: 1px solid darkgoldenrod;
  border-radius: 30px;
  padding: 0.5rem;
  flex-basis: 30%;
  font-size: 1rem;
  text-indent: 1rem;
}
input:focus {
  border: 1px solid pink;
  outline: none;
}
button {
  background: transparent;
  border: 1px solid goldenrod;
  padding: 1rem 2rem;
  border-radius: 4px;
  color: black;
  font-family: helvetica;
  font-weight: normal;
  font-size: 1rem;
  background-color: white;
}
button.pink:hover {
  background-color: pink;
  border-color: pink;
  color: white;
  cursor: pointer;
}
.pill {
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: pink;
  border-radius: 20px;
  width: 7rem;
  text-align: center;
}
.delete-pill {
  display: grid;
  grid-template-columns: 6fr 1fr;
  text-align: left;
  grid-column-gap: 1rem;
}
.pill.inverse {
  border: 2px solid pink;
  background-color: transparent;
}
.close {
   text-align: center;
  }
.hover {
  cursor: pointer;
}
.circle-select {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-select.active {
  background: var(--light-goldenrod);
  border: none;
}
.circle-select:hover:not(.active) {
  background-color: var(--light-goldenrod);
}

/* KEYFRAMES */
@-o-keyframes fade-to-dark {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: pink;
  }
}
@keyframes fade-to-dark {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: pink;
  }
}
@-o-keyframes fade-to-light {
  0% {
    background-color: pink;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes fade-to-light {
  0% {
    background-color: pink;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes grow {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 4rem;
    height: 4rem;
  }
}

@media (min-width: 400px) { 
  .vp-pad {
    padding: 2rem 1rem;
  } 
  input {
    font-size: 2rem;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
  .vp-pad {
    padding: 2rem 2rem;
  } 
  .pill {
    width: auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}